/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}


.github-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}



.icon:hover {
  opacity: 0.7;
}

.terminal-container {
  width: 700px;
  height: 500px;
  border: 1px solid #333;
  background-color: #272B36;
}

.perspective {
  perspective: 1000px;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.group:hover .card {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.creative-list {
  animation: fadeIn 2s ease-in-out;
}

.creative-bullet {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.creative-bullet::before {
  content: '➜';
  position: absolute;
  left: 0;
  color: #FF8800; /* Amber color */
  font-size: 1.2em;
  animation: slideIn 0.6s ease forwards;
  transform: translateX(-20px);
}

.creative-bullet:hover {
  color: #FF8800; /* Amber color */
  transform: scale(1.05);
}
